{% extends "base.html" %}
{% block title %}Kirish{% endblock %}
{% block content %}
<section class="auth-wrap card">
  <h1>Tizimga kirish</h1>
  <form method="post" class="form-card compact-form">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-field">
        <label>{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit" class="btn">Kirish</button>
  </form>
  <p>Hisobingiz yo'qmi? <a href="{% url 'register' %}">Ro'yxatdan o'ting</a></p>
</section>
{% endblock %}
