{% extends "base.html" %}
{% block title %}Ro'yxatdan o'tish{% endblock %}
{% block content %}
<section class="auth-wrap card">
  <h1>Ro'yxatdan o'tish</h1>
  <form method="post" class="form-card compact-form">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-field">
        <label>{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}<small class="error-text">{{ field.errors|join:", " }}</small>{% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn">Hisob yaratish</button>
  </form>
</section>
{% endblock %}
